<div class='main'>
    <div>
        {{>searchbar}}
    </div>
    <div class='formDiv'>
        <form id='registrationForm' method='POST' action='/edit-profile'>
            <input type='text' class='editInput' name='name' value='{{ data.userName }}' required />
            <input type='url' class='editInput' name='profileurl' placeholder='imageurl' value='{{ data.profileUrl }}' required />
            <textarea class='statementOfIntent' name='statement_of_intent' placeholder='a few lines about yourself..' rows='8' cols='44' required  >{{data.statementOfIntent}}</textarea>
            <input type='text' name='country' class='editInput' placeholder='country' value = '{{ data.country }}' required />
            <input type='date' name='dateofbirth' value = {{ data.dateOfBirth }} class='editInput' required />
            <input type='submit' class='editInput' id='btn' value='Save Changes' />
        </form>
    </div>
</div>