<div class="body">
    <div>
        {{>searchbar}}
    </div>
    <div id="main" class="main row">
        <div id='profileMainDiv'>
            <div id="profileUser">
                <div>
                    <img id="profileImg" src="{{ userInfo.profileUrl }}" alt="{{ userInfo.userName }}" />
                    <p class="font-weight-light" id="profileName">{{ userInfo.userName }}</p>
                    <p class="font-weight-light" id="profileDescribtion">{{ userInfo.statementOfIntent }}</p>
                </div>

                <div id="profileInfo">
                    <ul class="list-inline">
                        <li class="list-inline-item">Posts</li>
                        <li class="list-inline-item">{{ userInfo.posts }}</li>
                    </ul>
                    <ul class="list-inline">
                        <li class="list-inline-item">Messages</li>
                        <li class="list-inline-item">{{ userInfo.threads }}</li>
                    </ul>
                    <ul class="list-inline">
                        <li class="list-inline-item">Likes</li>
                        <li class="list-inline-item">{{ userInfo.stars }}</li>
                    </ul>
                </div>
                <form>
                    <div id="profileButton">
                        <button type="button" class="btn btn-link">Edit Profile</button>
                    </div>
                </form>
            </div>
        </div>

        <div id="rightOfmain">
            <div>
                <p id='mainText'>What's your question today?</p>
                <form method='POST' action='/addPost'>
                    <div>
                        <input class="postSubject" type="text" name='postSubject' placeholder="subject" required />
                    </div>
                    <div>
                        <textarea class="postDetail" placeholder="explain in detail ....." rows='6'
                            name='postDetail' required></textarea>
                        <input type='hidden' name='creatorID' value='{{ userInfo.userInfoID }}'/>
                        <input type='hidden' name='creatorProfileUrl' value='{{ userInfo.profileUrl }}'
                    </div>
                    <div>
                        <select class="topicList" name='postTag' required>
                            {{#each topicList}}
                            <option value="{{ this }}">{{ this }}</option>
                            {{/each}}
                        </select>
                        <input type="submit" id='btn' value='Post to Timeline' />
                    </div>
                </form>
            </div>
            <div class="searchTopic">
                <form method='POST' action='/searchByTopic'>
                    <div>
                        <label id="searchByTopic">Search by topic</label>
                    </div>
                    <div>
                        <select class="php" id='searchTopicSelect' name='searchTopic'>
                            {{#each topicList}}
                            <option value="{{ this }}">{{ this }}</option>
                            {{/each}}
                        </select>
                        <input type="submit" id='btn' value='GO->'/>
                    </div>
                </form>
            </div>
            <div>
                <label id='latestDiscussion'>Latest discussions</label>
            </div>
            <div>
              {{#each posts}}
                {{>post}}
              {{/each}}
            </div>
            {{>next}}
        </div>
    </div>
</div>